@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* || Image reset */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* UTILITY CLASSES */

.no-wrap {
  white-space: nowrap;
}

/* UNIVERSAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  font: 1.5rem "Nunito", sans-serif;
  min-height: 100vh;

  background-color: #475569;
  background-image: radial-gradient(whitesmoke, #475569);
  display: flex;
  flex-direction: column;
}

/* header, nav, main, footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
} */

header,
footer {
  position: sticky;
  background-color: #1e2938;
  color: whitesmoke;
  text-align: center;
}

header {
  top: 0;
}

nav {
  background-color: white;
  /* color: #000; */
  padding: 0.5rem;
  border-bottom: 2px solid #000;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
}

/* nav a:link,
nav a:visited {
  color: black;
}

|| OR a Shorthand code for Pseudo classes of "a" tags in the "nav" bar */

nav :any-link {
  color: #00f;
}

/* nav a:hover,
nav a:focus {
  color: hsla(0, 0%, 20%, 0.6);
}
|| OR a Shorthand code for Pseudo classes of "a" tags in the "nav" bar */

nav :is(a:hover, a:focus) {
  color: hsla(0, 0%, 20%, 0.6);
}

nav a:active {
  color: #f00;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  /* text-align: center; */
  font-weight: bolder;
}

footer {
  bottom: 0;
}

/* || PROOFILE CARD */

.card {
  scroll-margin-top: 8rem;
  width: min(100%, 350px);
  background-color: #cdb5e1;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:target {
  border: 5px solid #00000050;
}
.card figure {
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
  place-items: center;
}

.card img {
  border: 5px double #333;
  border-radius: 50%;
}

.card img[alt] {
  border: 8px double red;
}
.card img:not([alt]) {
  border: 18px double green;
}

/* nth-child pseudo class */
.card:is(:nth-child(2), :nth-child(3)) {
  background-color: papayawhip;
}
/* || End of Pseudo Classes  */

/* Beginning of Pseudo Elements */

.card figcaption {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.card figcaption::after {
  content: " Hello ";
  display: block;
  border: 1px solid;

}
.card figcaption::first-letter {
  
  font-size: 2em;
  color: #333;

}

.card p {
    position: relative;
}

.card p::before {
  content: open-quote;
  font-size: 2em;
  position: absolute;
  top: -0.25em;
  left: -0.5em;
  
}
.card p::first-line {
    font-size: 1.5em;
    color: #475569;
}

.card p::after {
    content: close-quote;
    font-size: 2em;
    position: absolute;
    top: -0.25em;
    right: -0.5em;
}


/* || SMALL SCREEN */

@media screen and (min-width: 576px) {
  body {
    background-color: green;
    background-image: radial-gradient(whitesmoke, green);
  }

  main {
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
  }

  .card {
    width: min(100%, 400px);
  }

  .card:first-child {
    order: 0;
  }
  .card:nth-child(2) {
    order: 3;
  }
  .card:last-child {
    order: 1;
  }
}

/* || MEDIUM SCREEN */

@media screen and (min-width: 768px) {
  body {
    background-color: gold;
    background-image: radial-gradient(whitesmoke, gold);
  }

  nav {
    display: none;
  }

  .card {
    width: min(100%, 325px);
  }

  .card figure {
    flex-flow: column-reverse;
  }

  .card figcaption {
    margin: 0.1em 0;
  }

  .card p {
    margin-top: 1rem;
  }
}
/* || LARGE SCREEN */

@media screen and (min-width: 992px) {
  body {
    background-color: firebrick;
    background-image: radial-gradient(whitesmoke, firebrick);
  }

  .card {
    width: min(100%, 400px);
  }

  .card:nth-child(2) {
    order: -1;
  }
}
/* || EXTRA LARGE SCREEN */

@media screen and (min-width: 1200px) {
  body {
    background-color: rebeccapurple;
    background-image: radial-gradient(whitesmoke, rebeccapurple);
  }

  .card {
    width: min(calc(33% - 1rem), 500px);
  }
}
/* || MOBILE DEVICE LANDSCAPE */

@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  body {
    background-color: dodgerblue;
    background-image: radial-gradient(whitesmoke, dodgerblue);
  }

  h1 {
    font-size: 1.5rem;
  }

  nav {
    display: none;
  }

  main {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .card {
    width: min(calc(33% - 0.25rem), 200px);
  }

  .card figure {
    flex-flow: column-reverse;
  }

  .card figcaption {
    margin: 0.1rem;
  }

  .card figcaption,
  .card p {
    font-size: 1.25rem;
  }
}
